<app-nav>
</app-nav>
<div class="page">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="text-center">Página não encontrada</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/cabeçaLion.png" alt="Cabeça leão Achei Digital">
        <mat-card-content>
            <p class="text-center">Ocorreu um erro não identificado</p>
            <p class="text-center">por favor entrar em contato com o administrador</p>
        </mat-card-content>

    </mat-card>

</div>
<app-footer class="footer"></app-footer>