<app-nav></app-nav>
<div class="row">
    <div class="col-sm-12 col-lg"></div>
    <div class="col-sm-12 col-lg-8 corpo">
        <div class="row">
            <div class="col-lg-7 col-sm-12">
                <h2>Lions AD</h2>
                <h4>Seja bem vindo ao nosso sistema!</h4>
                <p>Você que usa o Instagram para vender seus produtos ou serviços e necessita agregar os seus links para disponibilizar para o seu público, ou deseja criar um cartão virtual para a você ou sua empresa, iremos te ajudar!</p>
                <p>Nosso sistema é um agregador de até 15 links, nele você pode inserir qualquer tipo de site, url do WhatsApp, sua pagina de Facebook, sua loja virtual, seus vídeos do Youtube entre várias outras possibilidades.</p>
                <p>Outra vantagem é que os vídeos do Youtube são renderizados direto na pagina que você criou!</p>
                <p>Outro diferencial bem bacana é que iremos coletar o menor numero de dados possíveis.</p>
                <p>Em breve teremos novidades para você!</p>
            </div>
            <div class="col-lg-5 col-sm-12">
                <a target="_blank" routerLink="williansaugusto">
                    <img class="img-fluid imagem " src="../../../assets/img/paginateste.png" alt="Minha pagina de teste">
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg"></div>
</div>
<app-footer></app-footer>